
a:link, a:visited {
  color: #75c0a2;
}

a:hover, a:active {
  color: #58907a;
}

body {
  background: #f2f9f6;
  color: #0c1310;
  font-family: "Gill Sans", sans-serif;
  font-size: 100%;
  line-height: 1.333em;
}

td {
  padding: 0.25em 0.75em;
}

#pagewrapper {
  width: 30em;
  margin: 2em auto;  
}

#tumblr_console {
  font-family: monospace;
  font-size: 0.75em;
}

.celnum {
  text-align: right;
}

.celtex {
  text-align: left;
}

.formblock {
  margin: 1.333em auto;
}